:root {
    /* establish color variables */
    --day-container-background: #999999;
    --day-container-background-hover: #0f0f0f;
    --day-container-border-color: #0c4fae;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 3em;
    font-weight: 400;
}
h1, h2, h3 {
    text-align: center;
    font-weight: 400;
}
body {
    height: 100%;
    max-width: 100vw;
}
div.week, div.week-subheader {
    display: flex;
    justify-content: center;
}
div.week-subheader > h2{
    margin-top: 0;
}
div.choresList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: first baseline;

}

div.choresList > div.day.past {
    background-color:#424242 ;
    color: lightgray;
}

div.choresList > div.day.past:hover {
    background-color: #0f0f0f;
}

div.choresList > div.day {
    overflow: hidden;
    flex-basis: 150px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--day-container-background);
    transition-duration: 300ms;
    transition-property: background-color color max-height;
    max-height: 107.833px;
}

div.choresList > div.day:hover {
    background-color: var(--day-container-background-hover);
    color: white;
}

div.choresList > div.day.expanded {
    max-height: 150px;       
}

div#today {
    background-color: rgb(74, 255, 71);     
}
div#today:hover {
    background-color: rgb(255, 160, 44);
}

div.day:hover, div.day.expanded:hover{
    cursor: pointer;
}
